@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("../../content/assets/fonts/Inter-roman.var.woff2") format("woff2");
  }
  @font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url("../../content/assets/fonts/Inter-italic.var.woff2") format("woff2");
  }
  @font-face {
    font-family: 'Newsreader';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("../../content/assets/fonts/Newsreader.woff2") format("woff2");
  }
  @font-face {
    font-family: 'Newsreader';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url("../../content/assets/fonts/Newsreader-Italic.woff2") format("woff2");
  }

/* Defaults */
:root {
	--font-family: 'Inter var', system-ui, sans-serif;
	--font-family-italic: 'Newsreader', serif;
	--font-headings: 'Inter var', system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Responsive typography */
:root {
	--font-size-xs: clamp(0.64rem, 0.11vw + 0.62rem, 0.7rem);
	--font-size-sm: clamp(0.8rem, 0.23vw + 0.75rem, 0.94rem);
	--font-size-base: clamp(1rem, 0.42vw + 0.92rem, 1.25rem);
	--font-size-md: clamp(1.25rem, 0.69vw + 1.11rem, 1.67rem);
	--font-size-lg: clamp(1.56rem, 1.1vw + 1.34rem, 2.22rem);
	--font-size-xl: clamp(1.95rem, 1.68vw + 1.62rem, 2.96rem);
	--font-size-xxl: clamp(2.44rem, 2.51vw + 1.94rem, 3.95rem);
	--font-size-xxxl: clamp(3.05rem, 3.68vw + 2.32rem, 5.26rem);
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-40: #C0C0C0;
	--color-gray-60: #787878;
	--color-gray-80: #333;

	--color-midnight-20: #E3E4E5;
	--color-midnight-40: #7792a9;
	--color-midnight-60: #496174;
	--color-midnight-80: #0F2B42;

	--color-base-bg: #FFFCF5;

	--text-color: var(--color-midnight-80);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F;
	--subtle-border: #2b3e51;

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #333;
		--color-gray-40: #787878;
		--color-gray-60: #C0C0C0;
		--color-gray-80: #e0e0e0;

		--text-color: var(--color-midnight-20);
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--color-base-bg: #15202b;
		
	}

	img {
		opacity: .6;
    	transition: opacity .5s ease-in-out;
	}
	img:hover {
		opacity: 1;
	}
}


/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--color-base-bg);
}
html {
	overflow-y: scroll;
}
body {
	font-size: var(--font-size-base);
}

main {
	max-width: 80em;
	margin: 0 auto;
}

article {
	max-width: 48em;
	margin: 0 auto;
}

h1,
h2,
h3 {
	font-family: var(--font-headings);
	font-weight: 900;
	font-variation-settings: "wght" 900;
}

h1 {
	font-size: var(--font-size-xl);
	margin-block-start: .04em;
}

h2 {
	font-size: var(--font-size-lg);
}

h2, h3 {
	margin: 2.4rem 0 1.8rem;
}

p, ul, ol {
	margin: 0px 0px 20px;
  }

blockquote {
	font-family: var(--headings-font);
	font-variation-settings: "wght" 500;
	color: var(--color-midnight-80);
	text-align: center;
	margin: 2rem;
}

blockquote p {
	font-size: var(--font-size-md);
	line-height: 1.1;
}

small {
	font-size: var(--font-size-sm);
}
figure {
	display: block;
    margin-block-start: 0px;
    margin-block-end: 2.8rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
figcaption {
	font-family: var(--font-family-italic);
	font-weight: inherit;
}
figure img,
img.thumbnail {
	border-radius: 10px; 
}
img.thumbnail {
	aspect-ratio: 16 / 9;
	object-fit: cover;
}
figcaption {
	font-style: italic;
	text-align: center;
    margin-top: 1.2rem;
}
img {
	width: 100%;
	height: auto;
}

iframe.yt-shortcode {
	aspect-ratio: 16 / 9;
	width: 100%;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main {
	padding: 1rem;
}
/* main :first-child {
	margin-top: 0;
} */

article h2 + p::first-letter {
    font-size: 250%;
  	padding: 0px;
  	margin-right: 6px;
  	float: left;
    font-weight: bold;
}

article h2.post-deck {
	font-family: var(--font-family-italic);
	font-style: italic;
	font-kerning: auto;
	font-weight: 800;
	color: #989898;
	text-align: center;
	margin: 2.4rem 0 2.2rem;
    background: -webkit-gradient(linear, left top, right top, from(#3668cc), to(#7500ed));
    background: linear-gradient(to right, #3668cc 50%, #7500ed 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.15);
}

section.hero,
.about-page {
	display: block;
	gap: 2rem;
	margin-bottom: 2rem;
}
section.hero h2 {
	margin-top: 0px;
	max-width: 48ch;
	font-size: var(--font-size-xl);
}

section.hero .hero-details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section.hero .hero-details {
	max-width: 60ch;
}

@media screen and (min-width: 650px) {

  }
@media screen and (min-width: 650px) {
	.about-page section.bio-details {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}
}
@media screen and (min-width: 1100px) {
	section.hero,
	.about-page {
		display: grid;
		grid-template-columns: repeat (8, 1fr);
	}
	.about-page section.bio-details {
		display: block;
	}
	section.hero h2,
	.about-page section.bio {
		grid-column: 1 / 6;
	}
	section.hero .hero-details,
	.about-page section.bio-details {
		grid-column: 6 / 8;
	}
}



section.bio .container-center {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

section.bio img {
	width: 16rem;
	height: auto;
	border-radius: 500px;
}

.featured-post-grid {
	border-bottom: 1px solid var(--subtle-border);
	margin-bottom: 2rem;
}

.featured-post-grid ol {
	display: grid;
	gap: 2rem;
	grid-template-columns: 1fr;
}
@media screen and (min-width: 650px) {
	.featured-post-grid ol {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
@media screen and (min-width: 900px) {
	.featured-post-grid ol {
	  grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (min-width: 1600px) {
	.featured-post-grid ol {
	  grid-template-columns: repeat(4, 1fr);
	}
}

section.archive {
	max-width: 65ch;
}

/* header {
	border-bottom: 1px dashed var(--color-gray-20);
} */
header:after {
	content: "";
	display: table;
	clear: both;
}

.links-nextprev {
	list-style: none;
	/* border-top: 1px dashed var(--color-gray-20); */
	padding: 1em 0;
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 1px solid var(--subtle-border);
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	gap: 1em .5em;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
}
.home-link {
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	/* padding-left: 1.5rem; */
}
.postlist-item {
	/* display: flex;
	flex-wrap: wrap;
	align-items: flex-start; */
	/* counter-increment: start-from -1; */
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	/* content: "" counter(start-from, decimal-leading-zero) ". "; */
	line-height: 100%;
	text-align: right;
	/* margin-left: -1.5rem; */
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-80);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	/* padding-left: .25em;
	padding-right: .5em; */
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}

/* social links */
.social ul {
	display: flex;
	gap: 2rem;
	margin: 0;
	padding: 0;
}
.social li {
	display: inline-block;
	vertical-align: middle;
  }
  .social svg {
	  fill: var(--color-gray-80);
	  opacity: 1;
	  width: 36px;
	  height: 100%;
	  vertical-align: middle;
  }
  .social a {
	  display: block;
	  text-align: center; 
  }

/* Special filtering for a grid of items */

input[type="radio"] {
    position: absolute;
    left: -9999px;
  }

ol.filters {
  text-align: center;
  margin-bottom: 2rem;
  list-style: none;
}
.filters * {
  display: inline-block;
}
.filters label {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 2rem;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
}
.filters label:hover {
  background: var(--color-gray-80);
  color: var(--color-gray-20);
}

/* Grid Layout */

ol.filter-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 0 2rem 0;
  border-bottom: 1px solid var(--subtle-border);
}
@media screen and (min-width: 650px) {
	ol.filter-grid {
	  grid-template-columns: repeat(3, 1fr);
	}
  }
@media screen and (min-width: 900px) {
	ol.filter-grid {
	  grid-template-columns: repeat(4, 1fr);
	}
}
li.filter-grid-item {
	list-style-type: none;
}
li.filter-grid-item figure {
	margin-block-end: 0px;
}
.filter-grid .filter-grid-item-title {
  font-size: 1.3rem;
}
.filter-grid .filter-grid-item-title:hover {
  text-decoration: underline;
}
.filter-grid figcaption {
  padding: 1rem;
}
.filter-grid .filter-grid-item-categories {
  margin-bottom: 0.75rem;
  font-size: .75rem;
}
.filter-grid .filter-grid-item-categories * {
  display: inline-block;
}
.filter-grid .filter-grid-item-categories li {
  margin-bottom: 0.2rem;
}
.filter-grid .filter-grid-item-categories a {
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  border: 1px solid;
  line-height: normal;
  background: all 0.1s;
}
.filter-grid .filter-grid-item-categories a:hover {
  background: var(--color-gray-20);
  color: var(--color-gray-80);
}


/* Filtering style for Insta Strategy*/

[value="showAll"]:checked ~ .filter-grid [data-category] {
  display: block;
}

[value="one"]:checked ~ .filter-grid .filter-grid-item:not([data-category~="one"]),
[value="two"]:checked ~ .filter-grid .filter-grid-item:not([data-category~="two"]),
[value="three"]:checked ~ .filter-grid .filter-grid-item:not([data-category~="three"]),
[value="four"]:checked ~ .filter-grid .filter-grid-item:not([data-category~="four"]),
[value="five"]:checked ~ .filter-grid .filter-grid-item:not([data-category~="five"]),
[value="six"]:checked ~ .filter-grid .filter-grid-item:not([data-category~="six"]) {
  display: none;
}

[value="showAll"]:checked ~ .filters [for="showAll"],
[value="one"]:checked ~ .filters [for="in-process"],
[value="two"]:checked ~ .filters [for="behindTheScenes"],
[value="three"]:checked ~ .filters [for="inspirationalPhotography"],
[value="four"]:checked ~ .filters [for="video"],
[value="five"]:checked ~ .filters [for="intimateSharing"],
[value="six"]:checked ~ .filters [for="wildCard"] {
  background: var(--color-gray-60);
  color: var(--color-gray-20);
}
