@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("/public/fonts/Inter-roman.var.woff2") format("woff2");
  }
  @font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url("/public/fonts/Inter-italic.var.woff2") format("woff2");
  }
  @font-face {
    font-family: 'Newsreader Display Italic';
    font-weight: 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Newsreader Display Italic';
    src: url("/public/fonts/Newsreader72pt-ExtraBoldItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: 'Newsreader';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("/public/fonts/Newsreader.woff2") format("woff2");
  }
  @font-face {
    font-family: 'Newsreader';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url("/public/fonts/Newsreader-Italic.woff2") format("woff2");
  }

/* Defaults */
:root {
	/* --font-family: 'Inter var', system-ui, sans-serif; */
	--font-family: 'Inter V', system-ui, "Segoe UI", 'Inter var', Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-family-display-serif: 'Newsreader Display Italic', serif;
	--font-family-serif: 'Newsreader', serif;
	/* --font-headings: 'Inter var', system-ui, sans-serif; */
	--font-headings: 'Inter V', system-ui, "Segoe UI", 'Inter var', Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Responsive typography */
:root {
	--font-size-xs: clamp(0.64rem, 0.11vw + 0.62rem, 0.7rem);
	--font-size-sm: clamp(0.8rem, 0.23vw + 0.75rem, 0.94rem);
	--font-size-base: clamp(1rem, 0.42vw + 0.92rem, 1.25rem);
	--font-size-md: clamp(1.25rem, 0.69vw + 1.11rem, 1.67rem);
	--font-size-lg: clamp(1.56rem, 1.1vw + 1.34rem, 2.22rem);
	--font-size-xl: clamp(1.95rem, 1.68vw + 1.62rem, 2.96rem);
	--font-size-xxl: clamp(2.44rem, 2.51vw + 1.94rem, 3.95rem);
	--font-size-xxxl: clamp(3.05rem, 3.68vw + 2.32rem, 5.26rem);
	--font-weight-bold: 600;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-40: #C0C0C0;
	--color-gray-60: #787878;
	--color-gray-80: #333;

	--color-midnight-20: #E3E4E5;
	--color-midnight-40: #7792a9;
	--color-midnight-60: #496174;
	--color-midnight-80: #174367;

	--color-aside: oldlace;

	--color-base-bg: #FFFCF5;

	--text-color: var(--color-midnight-80);
	--text-color-link: #0000EE;
	--text-color-link-active: #FF0000;
	--text-color-link-visited: #551A8B;
	--subtle-border: #2b3e513a;
	--border-radius: 10px;

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #333;
		--color-gray-40: #787878;
		--color-gray-60: #C0C0C0;
		--color-gray-80: #e0e0e0;

		--color-midnight-20: #0F2B42;
		--color-midnight-40: #496174;
		--color-midnight-60: #7792a9;
		--color-midnight-80: #E3E4E5;

		--color-aside: var(--color-midnight-20);

		/* --text-color: var(--color-midnight-20); */
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--color-base-bg: #15202b;
		
	}

	img {
		opacity: .6;
    	transition: opacity .5s ease-in-out;
	}
	img:hover {
		opacity: 1;
	}
}


/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--color-base-bg);
}
html {
	overflow-y: scroll;
}
body {
	font-size: var(--font-size-base);
	padding: 1rem;
}

main {
	max-width: 80em;
	margin: 0 auto;
	min-height: calc(80vh - 20vh);
}

article {
	max-width: 48em;
	margin: 0 auto;
}

article p:first-of-type::first-letter {
	float: left;
	font-size: 6.4rem;
	font-weight: 900;
	line-height: 0.65;
	margin: 0.1em 0.1em 0.1em 0;
}

article aside p:first-of-type::first-letter {
	float: none;
	font-size: inherit;
	font-weight: normal;
	line-height: inherit;
	margin: inherit;
}

article h1 {
	text-align:center;
	font-size: var(--font-size-xxxl);
}

div.end-mark {
	text-align: center;
}

aside {
	/* font-size: smaller; */
	background-color: var(--color-aside);
	margin-bottom: 2rem;
	padding: 1.2rem 1rem 1.8rem;
	border-radius: var(--border-radius);
}

aside h2,
aside h3 {
	margin-top: 0px;
}

aside.currently-reading .featured-book {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-block-start: 1.6rem;
	font-family: var(--font-family-serif);
}
aside.currently-reading .featured-book .info h3 {
		margin: 0;
		font-family: var(--font-family-display-serif);
		font-size: var(--font-size-lg);
		font-weight: 900;
		margin-block: 0 1rem;
		font-style: italic;
}

aside.currently-reading .featured-book .info {
	max-width: 50ch;
	font-family: var(--font-family-serif);
}

@media screen and (min-width: 650px) {
	aside {
		padding: 3.2rem 3rem 3.8rem;
	}
	aside.currently-reading .featured-book {
		flex-direction: row;
		gap: 2rem;
	}
}

h1,
h2,
h3 {
	font-family: var(--font-headings);
	font-weight: 900;
	font-variation-settings: "wght" 900;
	line-height: 1.12;
}

h1 {
	font-size: var(--font-size-xl);
	/* margin-block-start: .4em; */
}

h2 {
	font-size: var(--font-size-lg);
}

h2, h3 {
	margin: 2.4rem 0 .8rem;
}

p, ul, ol {
	margin: 0px 0px 20px;
  }

ul li,
ol li {
	margin-bottom: 0.8rem;
}

strong {
	font-weight: var(--font-weight-bold);
}

blockquote {
	font-family: var(--font-family-serif);
	font-variation-settings: "wght" 500;
	font-size: var(--font-size-xl);
	line-height: 1.12;
	text-align: center;
	margin: 2rem;
}

blockquote p {
	font-size: var(--font-size-md);
	line-height: 1.1;
}

small {
	font-size: var(--font-size-sm);
}
.small-caps {
	font-variant-caps: all-small-caps;
	letter-spacing: .08rem;
	font-weight: var(--font-weight-bold);
}
.serif {
	font-family: var(--font-family-serif);
}
.centered {
	text-align: center;
}
figure {
	display: block;
    margin-block-start: 0px;
    margin-block-end: 2.8rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
figcaption,
.caption {
	font-family: var(--font-family-serif);
	line-height: 1.5;
	font-weight: inherit;
	font-style: italic;
	text-align: center;
    margin-top: 1.2rem;
	hyphens: auto;
	word-break: break-all;
}
figure img,
img.thumbnail,
li.postlist-item a picture img {
	border-radius: var(--border-radius); 
}
li.postlist-item a picture img {
	aspect-ratio: 16 / 9;
	object-fit: cover;
}
li.postlist-item a picture img:hover {
	opacity: .8;
}
img {
	width: 100%;
	height: auto;
}

figure.stamp {
	display:flex;
	flex-direction: column;
	align-items: center;
}

figure.stamp img {
	width: 300px; 
	max-width: 100%; 
	height:auto; 
	margin-left: auto; 
	margin-right:auto;
}

iframe.yt-shortcode {
	aspect-ratio: 16 / 9;
	width: 100%;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

/* article h2 + p::first-letter {
    font-size: 250%;
  	padding: 0px;
  	margin-right: 6px;
  	float: left;
    font-weight: bold;
} */

article h2.post-deck {
	color: #989898;
	text-align: center;
	margin: 2.4rem auto 2.2rem;
	margin-block-end: 16vh;
}

span.text-italic {
	/* font-family: var(--font-family-serif); */
	font-style: italic;
	/* font-size: 116%; */
}

.text-gradient {
	background: -webkit-gradient(linear, left top, right top, from(#3668cc), to(#7500ed));
    background: linear-gradient(to right, #3668cc 50%, #7500ed 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.15);
}

.text-gradient {
	background-image: 
    linear-gradient(
      to right in oklab, 
      oklch(53.78% 0.2742 262.342) 0%, oklch(53.78% 0.2742 262.342) 31% 31%, oklch(53.78% 0.3063 293.163) 100%);
}

section.hero,
.about-page,
.postlist-container {
	display: block;
	gap: 2rem;
	margin-bottom: 2rem;
}
section.hero h2,
h2.post-deck {
	margin-top: 0px;
	max-width: 48ch;
	/* font-size: var(--font-size-xl); */
	font-style: italic;
	font-family: var(--font-family-display-serif);
}
.image-thumbnail-grid,
.image-gallery-grid  {
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 2rem;
}

.image-gallery-grid {
	gap: 2rem;
	grid-template-columns: 1fr;
	grid-auto-flow: dense;
}

section.hero .hero-details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section.hero .hero-details {
	max-width: 60ch;
}

.postlist-container {
	display: grid;
	grid-template-rows: repeate(2, 1fr);
}
.postlist-container .postlist {
	grid-row: 2;
}
.postlist-container .post-counter{
	grid-row: 1;
}

@media screen and (min-width: 650px) {
	.postlist-container {
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}
	.postlist-container .postlist {
		grid-column: 1 / 3;
		grid-row: 1;
	}
	.postlist-container .post-counter{
		grid-column: 3 / 4;
		grid-row: 1;
	}
	section.hero h2,
	article h2.post-deck {
		font-size: var(--font-size-lg);
		margin-block-end: 16vh;
	}
	.about-page section.bio-details {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}
	.image-thumbnail-grid {
		grid-template-columns: repeat(3, 1fr);
	}
	.image-gallery-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (min-width: 900px) {
	section.hero,
	.about-page,
	.postlist-container {
		display:grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.about-page section.bio-details {
		display: block;
	}
	section.hero h2,
	article h2.post-deck,
	.about-page section.bio,
	.postlist-container .postlist {
		grid-column: 1 / 3;
	}
	section.hero h2,
	article h2.post-deck {
		/* font-size: var(--font-size-lg); */
	}
	section.hero .hero-details,
	.about-page section.bio-details,
	.postlist-container .post-counter {
		grid-column: 3 / 4;
	}
	.image-thumbnail-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media screen and (min-width: 1600px) {
	.postlist-container {
		display:grid;
		grid-template-columns: repeat(8, 1fr);
		gap: 2rem;
	}
	.postlist-container .postlist {
		grid-column: 1 / 6;
	}
	.postlist-container .post-counter{
		grid-column: 6 / 9;
	}
	section.hero,
	.about-page {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
	}
	
	.about-page section.bio,
	.postlist-container .postlist {
		grid-column: 1 / 6;
	}
	section.hero h2 {
		grid-column: 1 / 6;
	}
	section.hero h2,
	article h2.post-deck {
		font-size: var(--font-size-xl);
	}
	section.hero .hero-details,
	.about-page section.bio-details,
	.postlist-container .post-counter {
		grid-column: 6 / 9;
	}
	.image-thumbnail-grid {
		grid-template-columns: repeat(5, 1fr);
	}
	.image-gallery-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

section.bio .container-center {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

section.bio img {
	width: 16rem;
	height: auto;
	border-radius: 500px;
}

.featured-post-grid,
section.archive {
	margin-bottom: 2rem;
}

.featured-post-grid ol.postlist {
	display: flex;
	overflow: scroll;
	scroll-snap-type: x mandatory;	
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
	margin-inline: -1rem;
}

.featured-post-grid ol li.postlist-item {
	min-width: 80vw;
	scroll-snap-align: start;
	padding-inline-start: 1rem;
}

/* .featured-post-grid ol li.postlist-item:first-child {
	margin-inline-start: 1rem;
} */

.featured-post-grid ol li.postlist-item:last-child {
	margin-inline-end: 1rem;
}

@media screen and (min-width: 650px) {
	.featured-post-grid ol.postlist {
		display: grid;
		gap: 2rem;
		grid-template-columns: 1fr;
		margin-inline: 0px;
	}
	
	.featured-post-grid ol.postlist,
	.grid {
	  grid-template-columns: repeat(2, 1fr);
	}
	.featured-post-grid ol li.postlist-item {
		min-width: auto;
		scroll-snap-align: none;
	}
	.featured-post-grid ol li.postlist-item:last-child {
		margin-inline-end: 0px;
	}
	
	.featured-post-grid ol li.postlist-item {
		margin-inline-start: 0px;
	}
}
@media screen and (min-width: 900px) {
	.featured-post-grid ol.postlist,
	.grid {
	  grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (min-width: 1600px) {
	.featured-post-grid ol.postlist,
	.grid {
	  grid-template-columns: repeat(4, 1fr);
	}
}

section.cv {
	max-width: 65ch;
}

div.nextprev {
	border-top: 1px solid var(--subtle-border);
	margin-top: 2rem;
}

.links-nextprev {
	list-style: none;
	/* border-top: 1px dashed var(--color-gray-20); */
	padding: 1em 0;
	margin-top: 2rem;
	display: flex;
	gap: 1rem;
	flex-direction: row;
	justify-content: space-between;
}
.links-nextprev li {
	display: flex;
	flex: 1;
	flex-direction: column;
	max-width: 12rem;
}

.thumbnail-nextprev {
	aspect-ratio: 16 / 9;
    object-fit: cover;
	border-radius: var(--border-radius);
	width: 100%;
    height: auto;
}

/* Table Styles */

table {
	margin: 1em 0;
	border-spacing: 0.5rem;
	border-collapse: collapse;
	width: 100%;
	Font-size: smaller;
}

table td,
table th {
	padding-right: 1em;
	padding-block: 2.2rem;
	border-bottom: 1px solid var(--color-midnight-60);
	text-align: left;
}

table th {
	border-bottom: none;
	padding-block-end: 0px;
}

pre,
code {
	font-family: var(--font-family-monospace);
	border-radius: 4px;
    padding: 3px 6px;
	white-space: nowrap;
    background-color: var(--color-midnight-20);
    transition: color 0.25s, background-color 0.5s;
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

/* Header and footer styles */
header {
	flex-wrap: wrap;
	padding: .2rem 0 2rem;
}

@media screen and (min-width: 650px) {
	header {
		padding: 2rem 0;
	}
}

header,
footer .footer-container {
	max-width: 80em;
    margin: auto;
	display: flex;
	justify-content: space-between;
	gap: 1em .5em;
	align-items: center;
}
footer .footer-container {
	align-items: flex-start;
	flex-direction: column;
	border-top: 1px solid var(--subtle-border);
	padding: 4rem 0;
}
footer .footer-container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
footer .footer-container ul li {
	margin-bottom: .8rem;
}
footer .footer-links {
	display: flex;
	gap: 4rem;
}
.license {
	font-size: smaller;
	max-width: 48ch;
}
.home-link {
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

@media screen and (min-width: 650px) {
	span.view-mode:before {
		content: "👋 Internet Traveler";
	}
	footer .footer-container {
		flex-direction: row;
		justify-content: space-between;
	}
	footer .footer-links {
		gap: 8rem;
	}
}

@media (prefers-color-scheme: dark) {
	@media screen and (min-width: 650px) {
		span.view-mode:before {
			content: "😎 We both love darkness";
		}
	}
}

/* Nav */
.nav {
	display: flex;
	gap: 1.6rem;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
	margin-bottom: 0px;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */
.postlist {
	list-style: none;
	/* border-bottom: 1px solid var(--color-midnight-60); */
	padding: 0;
	/* padding-left: 1.5rem; */
}
.postlist-item {
	/* display: flex;
	flex-wrap: wrap;
	align-items: flex-start; */
	/* counter-increment: start-from -1; */
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid var(--subtle-border);
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	/* content: "" counter(start-from, decimal-leading-zero) ". "; */
	line-height: 100%;
	text-align: right;
	/* margin-left: -1.5rem; */
}
.postlist-date,
.postlist-item:before {
	font-size: var(--font-size-base);
	color: var(--text-color);
	font-weight: 650;
	opacity: .8;
	font-variant-caps: all-small-caps;
}
.postlist-date {
	word-spacing: -0.5px;
	letter-spacing: .08rem;
	line-height: 1.5;
}
article time.postlist-date {
	line-height: inherit;
	display: block;
	text-align: center;
	margin-top: 16vh;
}

li.postlist-item a h2 {
	margin-top: 0px;
	font-size: var(--font-size-md);
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	/* padding-left: .25em;
	padding-right: .5em; */
	text-decoration-line: underline;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 4px;
}

.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-weight: 600;
	font-style: normal;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}

/* social links */
.social ul {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	margin: 0;
	padding: 0;
}
.social li {
	display: inline-block;
	vertical-align: middle;
}
.social svg {
	fill: var(--color-gray-80);
	opacity: 1;
	width: 36px;
	height: 100%;
	vertical-align: middle;
}
.social a {
	display: block;
	text-align: center; 
}