---
layout: layouts/home.njk
eleventyNavigation:
  key: Archive
  order: 2
---
<h1>Archive</h1>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount %}
<p>Keep scrolling for all {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</p>

{% set postslist = collections.posts %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}
