---
layout: layouts/home.njk
eleventyNavigation:
  key: Archive
  order: 2
---
<h1>Archive</h1>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount %}
<p>Keep scrolling for all {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</p>

{% set postslist = collections.posts %}
{% set postslistCounter = postsCount %}
<ol reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
	<li class="postlist-item {% if post.url == url %} postlist-item-active{% endif %}">
		<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
		<a href="{{ post.url }}" class="postlist-link">
			{% if post.data.title %}
			{{ post.data.title }}
			{% else %}
			<code>{{ post.url }}</code>
			{% endif %}</a>
		{% if post.data.description %}
			<p>{{ post.data.description }}</p>
		{% endif %}
	</li>
{% endfor %}
</ol>
