---
title: Bookshelf
layout: layouts/home.njk
css: /assets/css/bookshelf.css
---

<h1>{{ title }}</h1>
<header>
<h2>2024</h2>
{% set booksData = books.2024bookList -%}{% set bookList2024 = booksData %}{% set bookCount2024 = bookList2024 | length %}
<span class="bookcount">{{ bookCount2024 }} total books</span>
</header>

<ol class="bookshelf">  
{% for book in books.2024bookList -%}
{% include "../_includes/bookcard.njk" %}
{% endfor -%}
</ol>

<header>
<h2>2023</h2>
{% set booksData = books.2023bookList -%}{% set bookList2023 = booksData %}{% set bookCount2023 = bookList2023 | length %}
<span class="bookcount">{{ bookCount2023 }} total books</span>
</header>
<ol class="bookshelf">
{% for book in books.2023bookList -%}
{% include "../_includes/bookcard.njk" %}
{% endfor -%}
</ol>