---
layout: layouts/home.njk
css: /assets/css/bookshelf.css
---

<section class="hero">
<h2>I’m a User Experience professional with over a decade of know-how. In my current role I specialize in <span class="text-italic text-gradient">employee experience and design operations</span></h2>

<div class="hero-details">
<p>This site is for writing blog posts about my interests and for summarizing concepts that I don't want to explain over and over again at dinner parties. You can find out more about me on the <a href="/about/">About page</a>. I prefer to be contacted on the following social platforms.</p>
<div class="visually-hidden h-card">
	<a tabindex="-1" rel="me" class="p-name u-url" href="https://andypbrowne.com/">Andy Garber-Browne</a>
	<img class="u-photo" src="https://andypbrowne.com/assets/images/headshot-andy.jpg" alt="Portrait of Andy in a suit and a fresh haircut"/>
	<span class="p-locality">Brooklyn</span>,
	<abbr class="p-region" title="New York">NY</abbr>,
	<time class="dt-bday">1979-05-25</time> birthday,
	<div class="p-category">Designer</div>
	<div class="p-note">Lover of craft and human-centered design. I have a background in leadership and getting Sh$t done</div>
</div>
{% include "../_includes/components/social-links.njk" %}

</div>
</section>

<section>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(6) %}
<h1 class="visually-hidden">Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

<div class="featured-post-grid">

{% set postslist = collections.featured | head(-8) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% if postsCount > 3 %}
<p>More posts can be found in <a href="/blog/">the archive &rarr;</a>.</p>
{% endif %}

</div>

</section>

<section class="featured-case-study">

  {% set caseStudies = [] %}
  {% for post in collections.posts | reverse %}
    {% if 'featured case study' in post.data.tags %}
      {% set caseStudies = (caseStudies.push(post), caseStudies) %}
    {% endif %}
  {% endfor %}
  
  {% for post in caseStudies | head(2) %}
    <div class="case-study-wrapper">
      {% if loop.index % 2 == 1 %}
        <div class="featured-case-study-image">
          {% if post.data.thumbnail %}
            <a href="{{ post.url }}">
              {% image post.data.thumbnail, post.data.thumbnailAlt %}
            </a>
          {% endif %}
        </div>
      {% endif %}
      
      <div class="featured-case-study-content">
        <p class="postlist-date">Case study</p>
        <a href="{{ post.url }}" class="postlist-link">
          {% if post.data.title %}
          <h2>{{ post.data.title }}</h2>
          {% else %}
          <code>{{ post.url }}</code>
          {% endif %}
        </a>
        {% if post.data.description %}
          <p style="font-size: var(--font-size-md); font-family: var(--font-family-cedar); font-style: italic; font-weight: 650;">{{ post.data.description }}</p>
        {% endif %}
        <div style="display: flex; justify-content: flex-end; margin-block-end: 2rem;">
          <a href="{{ post.url }}" class="postlist-link">Read more &rarr;</a>
        </div>
      </div>
      
      {% if loop.index % 2 == 0 %}
        <div class="featured-case-study-image">
          {% if post.data.thumbnail %}
            <a href="{{ post.url }}">
              {% image post.data.thumbnail, post.data.thumbnailAlt %}
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endfor %}

</section>
