---
layout: layouts/home.njk
---

<section class="hero">
<h2>I’m a User Experience professional with over a decade of know-how. In my current Design Operations role I focus on creative culture, community, learning & development.</h2>

<div class="hero-details">
<p>This site is for writing blog posts about what I'm interested in and for summarizing concepts that I don't want to explain over and over again at dinner parties. You can find out more about me on the <a href="/about/">About page</a>. I prefer to be contacted on the following social platforms.</p>

{% include "../_includes/components/social-links.njk" %}

</div>
</section>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(6) %}
<h1 class="visually-hidden">Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

<div class="featured-post-grid">

{% set postslist = collections.featured | head(-6) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

</div>

{% if postsCount > 3 %}
<p>More posts can be found in <a href="/blog/">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
