---
layout: layouts/home.njk
css: /assets/css/bookshelf.css
---

<section class="hero">
<h2>I’m a User Experience professional with over a decade of know-how. In my current role I specialize in <span class="text-italic text-gradient">employee experience and design systems</span></h2>

<div class="hero-details">
<p>This site is for writing blog posts about my interests and for summarizing concepts that I don't want to explain over and over again at dinner parties. You can find out more about me on the <a href="/about/">About page</a>. I prefer to be contacted on the following social platforms.</p>
<div class="visually-hidden h-card">
	<a tabindex="-1" rel="me" class="p-name u-url" href="https://andypbrowne.com/">Andy Garber-Browne</a>
	<img class="u-photo" src="https://andypbrowne.com/assets/images/headshot-andy.jpg" alt="Portrait of Andy in a suit and a fresh haircut"/>
	<span class="p-locality">Brooklyn</span>,
	<abbr class="p-region" title="New York">NY</abbr>,
	<time class="dt-bday">1979-05-25</time> birthday,
	<div class="p-category">Designer</div>
	<div class="p-note">Lover of craft and human-centered design. I have a background in leadership and getting Sh$t done</div>
</div>
{% include "../_includes/components/social-links.njk" %}

</div>
</section>

<section>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(6) %}
<h1 class="visually-hidden">Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

<div class="featured-post-grid">

{% set postslist = collections.featured | head(-8) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% if postsCount > 3 %}
<p>More posts can be found in <a href="/blog/">the archive</a>.</p>
{% endif %}

</div>

</section>

<aside class="currently-reading">

<h2>Currently Reading</h2>
    {% set booksData = books.2024bookList -%}
    {% set bookList2024 = booksData %}
<ol class="bookshelf">  
{% for book in books.2024bookList -%}
{% if book.currentlyReading == "true" %}
{% include "../_includes/bookcard.njk" %}
{% endif %}
{% endfor -%}
</ol>

<p style="margin-top: 1em;">More reading on <a href="/bookshelf/">bookshelf</a></p>

</aside>
