---
layout: false
permalink: /.well-known/security.txt
eleventyExcludeFromCollections: true
---
Contact: https://github.com/andypbrowne/andypbrowne/security/advisories/new
Contact: {{ metadata.url }}about/
Expires: 2027-08-01T00:00:00Z
Preferred-Languages: en
Canonical: {{ metadata.url }}.well-known/security.txt
