---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
<h1>Archive tagged “{{ tag }}”</h1>

<div class="postlist-container">

{% set postslist = collections[ tag ] %}
{% include "../_includes/simple-postslist.njk" %}

{# <p>See <a href="/tags/">all tags</a>.</p> #}

{% include "../_includes/components/post-counter.njk" %}

</div>
