<li class="filter-grid-item" 
  data-tags="{{ book.tags | join(', ') | lower }}"  
  data-status="{{ (book.status | default('')) | lower }}">
  <a href="{{ book.link }}"><img loading="lazy" width="180" height="270" src="{{ book.cover }}" alt="{{ book.coverAlt }}" /></a>
  <div class="info">
  <h3>{{ book.title }} 
    {% if book.type == 'audio' %}
    🎧  
    {% endif %} 
  </h3>
  <p class="sub-title">{{ book.subTitle }}</p>
  <p class="author">{{ book.author }}</p>
  {% if book.description %}
  <details>
    <summary><strong>Notes</strong></summary>
    <div class="notes">
      <p>{{ book.description | safe }}</p>
    </div>
  </details>
  {% endif %}
  </div>
</li>