header {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 2rem;
    margin: 0 0 1rem;
    padding: 0;
}

span.bookcount {
    font-family: var(--font-family-serif);
    font-style: italic;
}

ol.bookshelf {
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 1px solid var(--color-midnight-60);
    gap: 2rem;
    list-style: none;
    margin: 0px;
    padding: 0px;
    align-items: start;
}

ol.bookshelf li {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

ol.bookshelf li div.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

@media screen and (min-width: 650px) {
    ol.bookshelf {
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    }
    ol.bookshelf li {
        display: subgrid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr min-content;
    }
}

ol.bookshelf li div.info h3 {
    margin: 0;
    font-size: var(--font-size-base);
    font-weight: 500;
    margin-block: 0 1rem;
}

ol.bookshelf li div.info p {
    font-size: var(--font-size-base);
}

ol.bookshelf li img {
    border: 1px solid var(--color-midnight-60);
}