img.custom-size-image {
	width: auto;
	height: 5rem;
	/* max-width: 100%; */
}

.grid {
    display: grid;
    flex-wrap: wrap;    
    gap: 2rem;
    /* grid-auto-rows: 120px auto auto; */
    container-type: inline-size;
}

@media screen and (min-width: 1400px) {
    .grid {
        margin-inline: -12rem;
    }
}

.card {
    --_padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
}
/* @supports (grid-template-columns: subgrid) {
    .grid {
        display:grid;
        grid-auto-flow: dense;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 260px), 1fr));
    }
    .card {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 3;
    }
} */

.card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-start-start-radius: var(--border-radius);
    border-start-end-radius: var(--border-radius);
    border: 1px solid var(--color-midnight-20);
}
.card img.square-image {
    width: 100%;
    border-radius: 0px;
    border: none;
    height: auto;
}
.card img:hover {
    opacity: .8;
}

.card .card-body {
    display: block;
    height: 100%;
}

.card .card-footer {
    display: block;
}

.card .card-body h2 a {
    padding: 0px;
    margin: 0px 0px 1rem;
    font-size: var(--font-size-md);
	text-decoration-line: underline;
	text-decoration-thickness: 4px;
    font-weight: 700;
    font-variation-settings: "wght" 700;
    line-height: 1.12;
}
.card .card-body h2 {
    margin-top: 0px;
}

.card .resource-tag {
    display: inline;
    font-size: smaller;
    border: 1px solid var(--color-midnight-40);
    border-radius: 8px;
    padding: .2em .6rem;
  }

.card hr {
    opacity: .4;
  }

/* pre {
    background-color: none;
}

pre code {
    word-break: break-all;
    text-wrap: wrap;
    font-family: var(--font-family-monospace);
	border-radius: 4px;
    padding: 3px 6px;
    background-color: var(--color-aside);
    background-color: none;
    transition: color 0.25s, background-color 0.5s;
} */