img,
figure {
	width: auto;
	height: 5rem;
	/* max-width: 100%; */
}

.grid {
    display: grid;
    grid-auto-flow: dense;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 260px), 1fr));
    grid-auto-rows: 120px auto auto;
    container-type: inline-size;
}

.card {
    --_padding: 1rem;
    grid-row: span 3;
    display: grid;
    grid-template-rows: subgrid;
    gap: 1rem;
    /* background: var(--clr-primary-700); */
    /* border-radius: 0.5rem; */
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-start-start-radius: var(--border-radius);
    border-start-end-radius: var(--border-radius);
}
.card .card-body {
    display: block;
}

.card .card-footer {
    display: block;
}

.card h2 {
    padding: 0px;
    margin: 0px 0px 1rem;
    font-weight: 700;
    font-variation-settings: "wght" 700;
    line-height: 1.12;
}

  .card .resource-tag {
    display: inline;
    font-size: smaller;
    border: 1px solid white;
    border-radius: 8px;
    padding: .2em .6rem;
  }

  .card hr {
    opacity: .4;
  }