/* Special filtering for a grid of items */

input[type="radio"] {
    position: absolute;
    left: -9999px;
  }

ol.filters {
  text-align: center;
  margin-bottom: 2rem;
  list-style: none;
}
.filters * {
  display: inline-block;
}
.filters label {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 2rem;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
}
.filters label:hover {
  background: var(--color-gray-80);
  color: var(--color-gray-20);
}

/* Grid Layout */

ol.filter-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 0 2rem 0;
}
@media screen and (min-width: 650px) {
	ol.filter-grid {
	  grid-template-columns: repeat(3, 1fr);
	}
  }
@media screen and (min-width: 900px) {
	ol.filter-grid {
	  grid-template-columns: repeat(4, 1fr);
	}
}
li.filter-grid-item {
	list-style-type: none;
}
li.filter-grid-item figure {
	margin-block-end: 0px;
}
.filter-grid .filter-grid-item-title {
  font-size: 1.3rem;
}
.filter-grid .filter-grid-item-title:hover {
  text-decoration: underline;
}
.filter-grid figcaption {
  padding: 1rem;
}
.filter-grid .filter-grid-item-categories {
  margin-bottom: 0.75rem;
  font-size: .75rem;
}
.filter-grid .filter-grid-item-categories * {
  display: inline-block;
}
.filter-grid .filter-grid-item-categories li {
  margin-bottom: 0.2rem;
}
.filter-grid .filter-grid-item-categories a {
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  border: 1px solid;
  line-height: normal;
  background: all 0.1s;
}
.filter-grid .filter-grid-item-categories a:hover {
  background: var(--color-gray-20);
  color: var(--color-gray-80);
}


/* Filtering style for Insta Strategy*/

[value="showAll"]:checked ~ .filter-grid [data-category] {
  display: block;
}

[value="one"]:checked ~ .filter-grid .filter-grid-item:not([data-category~="one"]),
[value="two"]:checked ~ .filter-grid .filter-grid-item:not([data-category~="two"]),
[value="three"]:checked ~ .filter-grid .filter-grid-item:not([data-category~="three"]),
[value="four"]:checked ~ .filter-grid .filter-grid-item:not([data-category~="four"]),
[value="five"]:checked ~ .filter-grid .filter-grid-item:not([data-category~="five"]),
[value="six"]:checked ~ .filter-grid .filter-grid-item:not([data-category~="six"]) {
  display: none;
}

[value="showAll"]:checked ~ .filters [for="showAll"],
[value="one"]:checked ~ .filters [for="in-process"],
[value="two"]:checked ~ .filters [for="behindTheScenes"],
[value="three"]:checked ~ .filters [for="inspirationalPhotography"],
[value="four"]:checked ~ .filters [for="video"],
[value="five"]:checked ~ .filters [for="intimateSharing"],
[value="six"]:checked ~ .filters [for="wildCard"] {
  background: var(--color-gray-60);
  color: var(--color-gray-20);
}