<div class="post-counter">
    {% set postsCount = collections.posts | length %}
    {% set latestPostsCount = postsCount %}
    <p>{{ latestPostsCount }} total post{% if latestPostsCount != 1 %}s{% endif %}</p>
<ul class="post-tags">
    {% for tag in collections.all | getAllTags | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a> ({{ collections[tag].length }})</li>
    {% endfor %}
</ul>
</div>