<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="canonical" href="{{ metadata.url }}{{ page.url }}">
		<link rel="alternate" type="application/rss+xml" href="https://andypbrowne.com/feed/feed.xml" title="Andy's RSS Feed" />
		
		{# SEO and social share properties #}
		<meta property="og:title" content="{{ title or renderData.title or metadata.title }}"/>
		<meta property="og:type" content="article" />
		<meta name="og:description" content="{{ description or renderData.description }}" />
		<meta property="og:image" content="{{ thumbnail or renderData.thumbnail or metadata.thumbnail}}">
		<meta name="twitter:image:alt" content="{{ thumbnailAlt or renderData.thumbnailAlt or metadata.thumbnailAlt }}">
		<meta property="og:url" content="{{ page.url }}">

		<!-- favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
		<link rel="shortcut icon" href="/img/favicon/favicon.ico">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		
		{# <meta property="og:title" content={ title or renderData.title or metadata.title }/>
		<meta property="og:url" content={ page.url } />
		<meta property="og:description" content={description or renderData.description} />
		<meta property="og:image" content="/static/img/logo.png" />
		<meta property="og:type" content="article" /> #}

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		<meta name="generator" content="{{ eleventy.generator }}">

{# -
		Choices for CSS:

		1. External files (best with local dev server live reload) #}

		{# <link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/message-box.css">
		<link rel="stylesheet" href="/css/prism-okaidia.css">
		<link rel="stylesheet" href="/css/prism-diff.css"> #}

		{# 2. Inlined (fastest site performance in production) #}

		<style>
		{% include "public/css/index.css" %}
		{% include "public/css/message-box.css" %}
		{% include "node_modules/prismjs/themes/prism-okaidia.css" %}
		{% include "public/css/prism-diff.css" %}
		</style> 
		{% if css %}
      		<link rel="stylesheet" href="{{css}}" />
    	{% endif %}
{#
		3. You could even swap between the two methods above using {% if eleventy.env.runMode === "serve" %}
		4. Concatenate CSS to one file (site performance is slower than 2 but faster than 1):
				https://www.11ty.dev/docs/quicktips/concatenate/
		5. Use a bundler
				e.g. Vite https://www.11ty.dev/docs/server-vite/
				Or search for additional community plugins for esbuild, rollup, webpack, etc.
#}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header>
			<div>
				<a href="/" class="home-link">{{ metadata.title }}</a>
				<span class="view-mode"></span>
			</div>

			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav>
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>

		<footer>
			{# {% include "_includes/components/footer.njk" %} #}
			<div class="footer-container">
			<div class="footer-links">
			<ul>
				<li><a href="./feed/feed.xml">RSS</a></li>
				<li><a href="https://www.linkedin.com/in/andypbrowne" rel="me">LinkedIn</a></li>
				<li><a href="https://www.instagram.com/andypbrowne/" rel="me">Instagram</a></li>
				<li><a href="https://github.com/andypbrowne" rel="me">Github</a></li>
				<li><a href="https://codepen.io/andypbrowne" rel="me">Codepen</a></li>
			</ul>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about/">About</a></li>
				<li><a href="/blog/">Archive</a></li>
				<li><a href="/tags/">Tags</a></li>
				<li><a href="/bookshelf/">Bookshelf</a></li>
				<li><a href="/blank/">Blank</a></li>
			</ul>
			</div>
			<div class="license">
			<p>
				This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>
			</p>
			<p>
				andypbrowne.com {{ helpers.currentYear() }} 
			</p>
			</div>
			</div>
		</footer>

		{# Current page: {{ page.url | htmlBaseUrl }}  #}
	</body>
</html>
