---
layout: layouts/base.njk
---
<article>

<time class="postlist-date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>

<h1>{{ title }}</h1>

<h2 class="post-deck text-gradient">{{description}}</h2>

{# <ul class="post-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul> #}

{{ content | safe }}

<div class="end-mark">🧐</div>

<div class="nextprev">

<h2 class="visually-hidden">Read more posts</h2>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}
		<li><strong>Previous:</strong>
			<a href="{{ previousPost.url }}">
				<img class="thumbnail-nextprev" src="/{{ previousPost.data.thumbnail }}" alt="{{ previousPost.data.thumbnailAlt }}">
			</a>
			<a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>
	{% endif %}
	{%- if nextPost %}
		<li><strong>Next:</strong> 
			<a href="{{ nextPost.url }}">
				<img class="thumbnail-nextprev" src="/{{ nextPost.data.thumbnail }}" alt="{{ nextPost.data.thumbnailAlt }}">
			</a>
			<a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>
	{% endif %}
</ul>
</div>
</article>
{%- endif %}
{%- endif %}
