---
layout: layouts/base.njk
---

<article class="h-entry">
<div class="visually-hidden"><a tabindex="-1" class="u-url" href="https://andypbrowne.com/{{ page.url | url }}">{{ title }}</a></div>
<time class="postlist-date dt-published" datetime="{{ page.date | htmlDateString }}">published on {{ page.date | readableDate }} • <span class="meta__stats">about {{ content | readingTime }} reading time</span></time>

{% if number %}
<div class="post-number">Favorite thing № {{ number }}</div>
{% endif %}

<header class="post-header">
	{% if tags and 'featured' in tags or 'recipe' in tags %}
	<figure>
		<img src="../../{{ thumbnail }}" alt="{{ thumbnailAlt }}"/>
	</figure>
	{% endif %}

<div class="post-titles">
	<h1>{{ title }}</h1>
	<h2 class="post-deck text-gradient">{{description}}</h2>
</div>

</header>



{# <ul class="post-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul> #}

{{ content | safe }}

<div class="end-mark">🧐</div>

<h2>Related</h2>

<div class="featured-post-grid">

{%- if collections.posts %}
{%- set relatedPosts = collections.posts | getRelatedPosts(page.url, tags, 3) %}
{%- if relatedPosts.length > 0 %}
<ol class="postlist">
	{%- for post in relatedPosts %}
	{%- if not post.data.rss_only %}
		<li class="postlist-item">
			<a href="{{ post.url }}">
				<img class="thumbnail-nextprev" src="/{{ post.data.thumbnail }}" alt="{{ post.data.thumbnailAlt }}">
			</a>
			<a href="{{ post.url }}"><strong>{{ post.data.title }}</strong></a><br> <time class="" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
		</li>
	{% endif %}
	{%- endfor %}
</ol>
{%- else %}
<p>No related posts found.</p>
{%- endif %}
{%- endif %}
<div>More posts can be found in <a href="/blog/">the archive &rarr;</a>.</div>
</div>
</article>
