---
layout: layouts/base.njk
---

<article class="h-entry">
<div class="visually-hidden"><a tabindex="-1" class="u-url" href="https://andypbrowne.com/{{ page.url | url }}">{{ title }}</a></div>
<time class="postlist-date dt-published" datetime="{{ page.date | htmlDateString }}">published on {{ page.date | readableDate }} • <span class="meta__stats">about {{ content | readingTime }} reading time</span></time>

{% if number %}
<div class="post-number">Favorite thing № {{ number }}</div>
{% endif %}

<header class="post-header">
	{% if tags and 'featured' in tags %}
	<figure>
		<img src="../../{{ thumbnail }}" alt="{{ thumbnailAlt }}"/>
	</figure>
	{% endif %}

<div class="post-titles">
	<h1>{{ title }}</h1>
	<h2 class="post-deck text-gradient">{{description}}</h2>
</div>

</header>



{# <ul class="post-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul> #}

{{ content | safe }}

<div class="end-mark">🧐</div>

<div class="nextprev">

<h2 class="visually-hidden">Read more posts</h2>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}
	{%- if not previousPost.data.rss_only %}
		<li><strong>Previous:</strong>
			<a href="{{ previousPost.url }}">
				<img class="thumbnail-nextprev" src="/{{ previousPost.data.thumbnail }}" alt="{{ previousPost.data.thumbnailAlt }}">
			</a>
			<a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>
	{% endif %}
	{% endif %}
	{%- if not nextPost.data.rss_only %}
	{%- if nextPost %}
		<li><strong>Next:</strong> 
			<a href="{{ nextPost.url }}">
				<img class="thumbnail-nextprev" src="/{{ nextPost.data.thumbnail }}" alt="{{ nextPost.data.thumbnailAlt }}">
			</a>
			<a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>
	{% endif %}
	{% endif %}
</ul>
</div>
</article>
{%- endif %}
{%- endif %}
